pdf2image
pillow
google-cloud-vision
google
jsonschema



# for openai
fitz # PyMuPDF
pymupdf
requests
openai
dotenv
tqdm


# anthropic
anthropic
IPython
dotenv


# google
typing
google
google.cloud
google-cloud-documentai

google-auth
google-auth-oauthlib

# cer-wer
pybind11

flask
flask-cors
werkzeug
pathlib
pdf2image