pdf2image
pillow
google-cloud-vision
google
jsonschema



# for openai
fitz # PyMuPDF
pymupdf
requests
openai
dotenv
tqdm


# anthropic
anthropic
IPython
dotenv


# google
typing
google
google.api_core.client_options
google.cloud
google-cloud-documentai

google-auth
google-auth-oauthlib

# cer-wer
fastwer
pybind11