# Core libraries
pillow
requests
tqdm
typing
pathlib

# PDF processing
pdf2image
pymupdf

# Google Cloud
google
google-auth
google-auth-oauthlib
google-cloud-vision
google-cloud-documentai
google.cloud

# OpenAI
openai
dotenv

# Anthropic
anthropic
IPython

# CER/WER
pybind11

# Flask
flask
flask-cors
werkzeug
